/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
    color: green;
		padding: 0;
 }
body{
		font-family: fantasy;
		background-color: pink;

}
/* begin header */
header{
		border-style: solid;
		min-height: 400px;
		background-image: url(../img/monkaa_title.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 30px;
}
/* open source short film */
.subtitle{
		opacity: .4;
		padding-left: 7px;
}
/* main navigation centered */
nav ul li{
		display: inline;
		padding: 15px;
		position: relative;
		top: 275px;
		left: 25%;
		font-size: 30px;	
}
#social{
		background-image: url(../img/monkey_flight.jpg);
		background-size: cover;
		position: fixed;
		top: 50px;
		right: 0;
		width: 40px;
		transition: 0.4s width;
		border: 3px solid green;		
}
#social:hover{
		width:250px;
}
#social ul{
		list-style-type: none;
		padding-left: 19px;
}
#social li{
		margin: 0;
		padding: 0;
		padding-left: 25px;
		display: block;	
}
#social h2{
		transform: rotate(90deg);
		position: absolute;
		padding-top: 30px;
		padding-left: 5px;
		margin: 0px;
		font-size: 1.6em;
		color: pink;
}
/* makes legible links */
#social a{
		font-weight: bold;
		background-color: pink;
}
/* end social */
/* begin watch */
#watch h2{
		font-size: 3em;	
		margin-left: 500px;
}
.watch{
		align-content: center;
		min-height:
}
.movie{
		align-content: center;
		border: 5px solid green;
		background-color: blue;
		background-size: 350px;
		width: 65em;
		position: relative;
		left: 7em;
		margin-top: 30px;

}
video{
		width: 65em;
		position: relative;
		float: clear;
}
/* end watch */
#download{
			background-image: url(../img/monkey_flight.jpg);
		background-size: cover;
		position: fixed;
		top: 180px;
		right: 0;
		height: 135px;
		width: 40px;
		transition: 0.4s width;
		border: 3px solid green;
		
}
#download h2{
		transform: rotate(90deg);
		position: absolute;
		padding-top: 88px;
		padding-left: 4px;
		margin: 0px;
		font-size: 1.7em;
		color: pink;
}
#download:hover{
		width: 250px;
}
#download ul{
		list-style-type: none;
		width: 225px;
}
#download li{
		margin: 0;
		padding: 0;
		display: inline;
}
#download a{
		margin-left: 20px;
		color: green;
		font-weight: bold;
		background-color: pink;
}

/* end header */
/* begin listen */
#listen{
		background-image: url(../img/monkey_flight.jpg);
		background-size: cover;
		position: fixed;
		top: 350px;
		right: 0;
		width: 40px;
		transition: 0.4s width;
		border: 3px solid green;
		height: 100px;
}
#listen h2{
		transform: rotate(90deg);
		position: absolute;
		padding-top: 50px;
		padding-left: 4px;
		margin: 0px;
		font-size: 1.7em;
		color: pink;
}
#listen:hover{
		width: 350px;
}
#listen audio{
		width 150px;
		margin-left: 50px;
		margin-top: 15px;
}
#listen p{
		position: absolute;
}
.download-button{
		width: 30px;
		margin-left: 100px;
}
/* end listen */
/* begin about */
.lead{
		width: 400px;
		padding: 10px;
		margin-right: 150px;
		margin-bottom: 100px;
		text-align: center;
		background-color: #6699ff;
		float: right;	
		font-size: 1.5em;
		border: 2px solid green;
}
#about h2{
		font-size: 3em;	
		margin-left: 500px;
}
.headshot{
		width: 20em;
		height: auto;
		transition: 0.4s width;
		border-radius: 50px;
}
.headshot:hover{
		width: 25em;
}
.weybec-people{
		list-style-type: none;
		display: inline;
}
.pratik{
		float: left;
		width: 5em;
		margin-left: 160px;
		margin-top: 10px;
}
.pratik p{
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0;
		width: 240px;
} 
.nita p{
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0;
		width: 240px;
		margin-left: 35px;
	}
.nita{
		float: clear;
		margin-left: 725px;
		margin-top: 300px;
}

.niyal{
		float: left;
		width: 25em;
		margin-left: 120px;
}
/* end about */
/* credits */
.credit{
		background-color: #6699ff;
		width: 400px;
		font-size: 2em;
		text-align: center;
		float: left;
		margin-left: 45px;
		position: absolute;
		margin-top: 400px;
		margin-left: 150px;
		border: 2px solid green;
}
.more-info{
		background-color: #6699ff;
		width: 450px;
		font-size: 1.5em;
		float: right;
		margin-right: 150px;
		border: 2px solid green;
}
/* begin footer */
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
/* background-color: #6699ff; */
}
.footer, .push {
height: 4em;
}